<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8/">
        <meta name="viewport" content="width=device-width ,intial-scale=1.0" />
        <meta http-equiv="X-UA-compatible" class="ie=edge"/>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>Reset Password</title>
    
    
    </head>
    
    <body>
        <div class="container">
            <h1> Reset Password</h1>
            <form class="login-form " method="post" name="form" action="/forget-password" >
                <div class="font"> Email or Phone</div>
                <input type="text" name="email" required>
                <div id="email-error"> Please Fill up your Email or Phone number </div>
               
                <button type="submit">Submit</button>
                 
            </form>
            
        </div>
        
        
        
    </body>
    
</html>