<!DOCTYPE html>
<html>
<head>
	<meta charset="="UTF-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	<link rel="stylesheet" href="css/landstyle.css">
	<link rel="stylesheet" href="css/picstyle.css">
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://kit.fontawesome.com/974c166fa9.js" crossorigin="anonymous"></script>

	<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">-->
	<link rel="stylesheet" href="css/stylepg.css">
	<title>NotesTodo</title>
    <link rel="shortcut icon" href="img/icon.png">
</head>
<body>
	<section>
		<div class="circle"></div>
		<header>
			<a href="#"><img src="" class="logo" ></a>
			<div class="toggle"onclick="toggleMenu()" ></div>
			<ul class="navigation">
				<li><a href="index">LOGIN</a></li>
				<li><a href="register">REGISTER</a></li>
				<li><a href="#">HOME</a></li>
				<li><a href="demonotes">DEMO</a></li>
			</ul>
		</header>
		<div class="content">
			<div class="textBox">
				<h2>WANT TO NOTE DOWN </h2>
				<p>Try notes app for important meetings,work and for many other purposes</p>
				<!--<a href="#">Learn-more</a>-->
			</div>
		
			<div class="imgBox">
				<div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/note1.jpg" alt="notes"/>
        </div>
        <div class="swiper-slide">
          <img src="img/note2.jpg" alt="notes"/>
        </div>
        <div class="swiper-slide">
          <img src="img/note3.jpg" alt="notes"/>
        </div>
        <div class="swiper-slide">
          <img src="img/note4.jpg" alt="notes"/>
        </div>
        <!--<div class="swiper-slide">
          <img src="cocacola5.png" alt="coke"/>
        </div>
        <div class="swiper-slide">
        	<img src="cocacola6.png" alt="coke"/>
                  </div>-->
       </div>
	</div>
		</div>
	</div>
			
		
			<ul class="sci">
				<li><a href="#"><img src="img/facebook.png"></a></li>
				<li><a href="#"><img src="img/instagram.png"></a></li>
				<li><a href="#"><img src="img/twitter.png"></a></li>
			</ul>
		
	</section>


    
    <!--<div class="text-center">
			<h1 class="display-4 text-capitalize" id="worldtour">Visit</h1>
			<hr class="w-25 mx-auto">
		</div>
		<div class="container my-5">
			<div class="row gy-5  ">
				<div class="col-lg-4  col-10 col-xxl-4 mx-auto destination">
					
					features
					
				</div>
				<div class="col-lg-4  col-10 col-xxl-4 mx-auto destination">
					Hello
				</div>
				<div class="col-lg-4  col-10 col-xxl-4 mx-auto destination">
					FEATURES
				</div>
				
				
			</div>
			<div class="row gy-5  ">
				<div class="col-lg-4  col-10 col-xxl-4 mx-auto destination1">
					NEW THINGS
				</div>
				<div class="col-lg-4  col-10 col-xxl-4 mx-auto destination1">
					NEW
				</div>
				<div class="col-lg-4  col-10 col-xxl-4 mx-auto destination1">
				TECHNIQUES	
				</div>
				
				
			</div>
		</div>-->
		 <div id ="container1">
		<div id="txt"data-aos="fade-right" data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000">
	<p id="text">Use simple interface application ,easy to use,notedown any important thing.In case of searching, seacrh it with mic or keyboard.</p>
	<button id='go'><a href="demonotes">Use It</a></button>
        </div>
        
	<img id="firstapp" src="img/notepic1.png"alt="notes"data-aos="fade-left"data-aos-offset="210"
    data-aos-delay="40"
    data-aos-duration="2000"/>
</div>
<div id ="container1">
		<div id="txt1"data-aos="fade-left" data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000">
	<p id="text1">Combined Calendar with todo list application.User can note-down any important meeting/work in their todo list and can show it in calendar in the specific date. </p>
	<button id='go'><a href="todo">Use It</a></button>
        </div>
        
	<img id="firstapp1" src="img/cal.jpeg"alt="notes"data-aos="fade-right"data-aos-offset="210"
    data-aos-delay="40"
    data-aos-duration="2000"/>
</div>
<div class="color">
	   <hr>
		<h3>Features</h3>
		<div id="travel">
			<div class="country">
				For CRUD Operation edit,delete buttons are provided in the simple notes interface.For changing color color button is provided and for maximization,minimization buttons are placed in top right of division.
			 	
			</div>
			<div class="country">
			By clicking edit button(pink color) if there is no text then we can write text in textarea.We can adjust width according to our text and to save again edit button is clicked from which text will be displayed in div. 
			 	
			</div>
			<div class="country">
				
			 To add notes two button are placed one in top right and other in bottom right.Calculator is also provided which can be helpful for user in taking notes if necessary.
			</div>
			<div class="country">
				
			 For searching ,user can search by writing text as well as by using microphone.
			</div>
			<div class="country">
				
			 In the,calendar application combined with todo list user can easily distinguish between primary work and secondary work.
			</div>
			<div class="country">
				
			 Options of category ,date ,time is provided to keep the todo list work in easy categorized manner.
			</div>
		</div>
	</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
       
    
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<script>
      var swiper = new Swiper(".swiper-container", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: 0,
          stretch: 0,
          depth: 400,
          modifier: 1,
          slideShadows: true,
        },
        pagination: {
          el: ".swiper-pagination",
        },
        loop:true,
      });
      function toggleMenu(){
      	const menuToggle=document.querySelector('.toggle');
      	const navigation=document.querySelector('.navigation');
      	menuToggle.classList.toggle('act');
      	navigation.classList.toggle('activ');
      }
    </script>
    
       <h2 class="teams"> OUR TEAM</h2>
  
    <section class="developers">
               <div class="box1"> 
           <div class="imgBx">
               <img src="img/shivam.jpg">
           </div>
           <div class="content">
               <h2>Shivam Sharma<br> <span>Web Developer</span></h2>
               <a href="https://www.linkedin.com/in/shivam-s-a92843190/"><i class="fab fa-linkedin linke"></i></a>
               <a href="https://github.com/Shivam026"><i class="fab fa-github githubs"></i></a>
           </div>

        </div>
        
        <div class="box1"> 
           <div class="imgBx">
               <img src="img/amit.jpg">
           </div>
           <div class="content">
               <h2>Amit Kumar<br> <span>Web Developer</span></h2>
               <a href="https://www.linkedin.com/in/amit-kumar-44b736210"><i class="fab fa-linkedin linke"></i></a>
               <a href="https://github.com/amitk221"><i class="fab fa-github githubs"></i></a>
           </div>

        </div>
        
        <div class="box1"> 
           <div class="imgBx">
               <img src="img/ritik.jpg">
           </div>
           <div class="content">
               <h2>Ritik Gaur<br> <span>Web Developer</span></h2>
               <a href="https://www.linkedin.com/in/ritik-gaur-356021186"><i class="fab fa-linkedin linke"></i></a>
               <a href=""><i class="fab fa-github githubs"></i></a>
           </div>

        </div>
    </section>

</body>
</html>