<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8/">
        <meta name="viewport" content="width=device-width ,intial-scale=1.0" />
        <meta http-equiv="X-UA-compatible" class="ie=edge"/>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>Reset-password</title>
    
    
    </head>
    <h2 class="msgForOtp"> Please Check Your email and Paste Otp Here.</h2>
    <body>
        <!--<h2 class="msgForOtp"> Please Check Your email and Paste Otp Here.</h2>-->
        <div class="container">
            <h1> Reset Password</h1>
            <form class="login-form " method="post" name="form" action="/reset-password" >
                <div class="font font1">OTP</div>
                <input type="password" name="resetToken" placeholder="Put OTP, from email " required>
                <div id="pass-error"> Fill Password </div>
                <div class="font font2"> New Password</div>
                <input type="password" name="password" placeholder="New Password" required>
                <div id="pass-error"> Fill Password </div>
                <button type="submit">Submit</button>
                
            </form>
          
        </div>
        
        
        
    </body>
    
</html>