/*
{
margin:0;
padding:0;
box-shadow: border-box;
}
.destination
{
background-color: blue;
height:195px;
width:80px;
border:2px solid white;
color:white;
transition: 3s all ease-in-out;
}
.destination1
{
background-color: orange;
height:195px;
width:80px;
border:2px solid white;
color:white;
transition: 3s all ease-in-out;
}
.destination:hover
{
transform:scale(1.1);
}
.destination1:hover
{
transform:scale(1.1);
}*/
hr
{
border-top: 10px double #333;
width:50%;
background-color: #fff; 
margin-left: 25%;
}
h3
{
text-align:center;
font-family: sans-serif;
font-weight: bold;
color:#fff;
font-size:30px;
}
#travel
{
/*max-width: 1200px;*/
/*margin-left: 190px;*/
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
}
.country
{
width:350px;
height:250px;
margin:10px;
color:#fff;
text-align: center;
padding:2%;
font-size: 20px;
font-weight: 600;
background-color:#202040;
}
.color
{
	
background-color:#000;
}
/*.country img
{
height:200px;
width:400px;
transition: 0.5s all ease-in-out;
}
.description
{
text-transform:uppercase;	
text-decoration: overline;
padding:20px;
}*/
.country:hover
{
  	
  transform: scale(1.1); 
 
}

/* form css*/

/*
body {
  font-family: Arial, Helvetica, sans-serif;
}*/

contactUs{
  box-sizing: border-box;
    
    background-color:#c79898;
    
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* our developers*/

.developers {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 80vh;
    background: #f7f7f7;
}

.box1 {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;

}

.box1:hover {
    height: 400px;
}

.box1 .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;

}

.box1 .imgBx img {
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;
}
.box1:hover .imgBx img {
    opacity: 0.9;
}

.box1:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
    
}

.box1:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}

.box1:before,
.box1:after {
    background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);
    
}
.box1:nth-child(2):before,
.box1:nth-child(2):after {
    background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
    
}
.box1:nth-child(2):before,
.box1:nth-child(2):after {
    background: linear-gradient(235deg,#772aff,#010615,#2196f3);
    
}

.box1 .content {
    position: absolute;
    bottom: 0;
    left: 8px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}
.box1:hover .content {
    opacity: 1;
    color: #fff;
}

.box1 .content h2 {
    font-size: 20px;
    color: fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}
.box1 .content h2  span{
    font-size: 14px;
    color: fff;
    font-weight: 200;
    letter-spacing: 1px;
}
 .box1 .content a {
     font-size: 35px;
     text-align: center;
     justify-content: center;
     align-items: center;
     font-weight: 500;
     line-height: 20px;
     opacity: 1;
     display: flex;
     height: 40px;
     width: 40px;
     margin-right: 5px;
     margin-left: 8px;
     
}
.githubs:hover{
    color: #fff;
     
}
 .linke:hover{
    color: #0077b5;

}

.teams {
    color: #000;
    text-align: center;
    justify-content:center;
    align-items:center;
    font-size: 70px;
    font-weight: 600;
    margin-top: 40px;
    
}